# Make some possibly destructive commands more interactive.
alias rm='rm -i'
alias mv='mv -i'
alias cp='cp -i'

# Add some easy shortcuts for formatted directory listings and add a touch of color.
alias l="ls -alsh"
alias ll='ls -lF'
alias la='ls -alF'
alias ls='ls -F'

# more shortcuts
alias ..='cd ..'
alias ...='cd .. ; cd ..'
alias g='grep -i'  #case insensitive grep
alias f='find . -iname'
alias ducks='du -cks * | sort -rn|head -11' # Lists the size of all the folders and files
alias top='top -o cpu'
alias systail='tail -f /var/log/system.log'

# Make grep more user friendly by highlighting matches
# and exclude grepping through .svn folders.
alias grep='grep --color=auto --exclude-dir=\.svn'

# Shortcut for using the Kdiff3 tool for svn diffs.
alias svnkdiff3='svn diff --diff-cmd kdiff3'

# Github
alias gs='git status'
alias ga='git add'
alias gd='git diff'
alias gm='git commit -m'
alias gp='git push'

# for conda virtual env activate/deactivate
alias sa='source activate'
alias sda='source deactivate'

# local case
alias ssh_cscs='ssh tlin@ela.cscs.ch'
alias mount_iccluster131='sshfs lin@iccluster131.iccluster.epfl.ch:/home/lin $HOME/mount/iccluster131_home -ovolname=iccluster131'
alias mount_mlodata1='sshfs -o allow_other,transform_symlinks lin@iccluster071.iccluster.epfl.ch:/mlodata1 $HOME/mount/mlodata1 -ovolname=mlodata1'
